@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Noto+Sans+TC:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding and border are included in the width and height*/
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 color:#58595b;
}


.container {
  
  
  flex: 1;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-head {
  
  color:#58595b;
  text-transform: uppercase;
  padding: 20px 40px;
  text-align: center;
  align-items: center;
  background-color:white;
  
}


.navbar {
  grid-area: nav;
}

.navbar ul {
  /* change text to ,center, hortizonal and remove bullets*/
  display: flex;
  position:relative;
  margin:0;
  justify-content: center;
  
  list-style-type: none;
  line-height: 22px;
  padding:20px 5px 20px 5px;
  margin-bottom: 30px;
  border-top: 1px solid #8bafbb;
  border-bottom: 1px solid #8bafbb;


}

.navbar ul li a {
  /* added space between links and remove underline*/
  padding-right: 25px !important;
  padding-left: 25px !important;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
}


/* Change the color of links on hover */
.navbar a:hover {
  color: #8bafbb;
  text-decoration: underline;
}

/* Add an active class to highlight the current page */
.navbar a.active {
  background-color: #aa0404;
  color: yellow;
}

.social-networks>li {
  display: inline;
  font-size: 160%;

}

.social-networks li a i:hover {
  color: #799e82;
  transform: scale(1.2);
}

footer {
  height: 50px;
  background-color: #8bafbb;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  grid-gap: 1rem;
  text-align: center;

  padding: 15px;

}


/*The barn Styling section */
.barn-container {
  flex: 1;
}

.barn-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  min-height: 100%;
  grid-template-areas:

    /*      "lcontent lcontent rcontent rcontent"
      "lcontent2 lcontent2 lcontent2 rcontent2"*/
    "lcontent3 lcontent3 rcontent3 rcontent3"
    "lcontent4 lcontent4 rcontent4 rcontent4";
}

.features-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  min-height: 100%;

  /*margin-top: 50px 50px;
  padding-left: 250px;*/
  padding:50px 100px 100px 250px;
  grid-template-areas:
    "features1, features2, features3, features4"


}

.features-title {
  margin-top: 50px;
  font-size: 150%;
  text-align: center;
}

.list>li {

  text-align: left;
}

img {
  /*border: 5px solid #555;*/
  padding: 5px;
}

section {
  /*centers content*/
  height: 600px;
  /* border: 1px solid #2d2d2d;*/
  text-align: center;
}

section h1 {
  color: pink;
  margin-bottom: 20px;
}

.barn-image {
  border-radius: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

section p {
  margin: 25px 200px;
  padding: 50px;
  align-content: center;
}

li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 10px;


}

div.feature1 {
  grid-template-areas: feature1;
}

div.feature2 {
  grid-template-areas: feature2;
}

div.feature3 {
  grid-template-areas: feature3;
}

div.feature4 {
  grid-template-areas: feature4;
}

div.feature5 {
  grid-template-areas: feature5;
}



section.lcontent {
  grid-area: lcontent;
}

section.rcontent {
  grid-area: rcontent;
}

section.lcontent2 {
  grid-area: lcontent2;
}

section.rcontent2 {
  grid-area: rcontent2;
  padding: 50px;
  background-color: gray;
  margin: 0px 120px;
}

section.lcontent3 {
  grid-area: lcontent3;
}

section.rcontent3 {
  grid-area: rcontent3;
}

section.lcontent4 {
  grid-area: lcontent4;
}

section.rcontent4 {
  grid-area: rcontent4;
}





/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media only screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;

    grid-template-areas:
      "header header"
      "nav nav"
      "lcontent rcontent"
      "lcontent rcontent"
      "lcontent rcontent"
      "footer footer";
    text-align: center;
  }

  

/* Medium devices (landscape tablets, 768px and up) */
/*@media only screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto auto 1fr;
    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "lcontent rcontent"
      "lcontent rcontent"

      "footer footer footer footer";
  }

  nav ul {
    flex-direction: column;
  }
}



/* Large devices (laptops/desktops, 992px and up) */
/*@media only screen and (min-width: 992px) {

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr fr 1fr;

    grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "lcontent rcontent lcontent rcontent"
      "lcontent rcontent lcontent rcontent"
      "footer footer footer footer";
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

 
}