@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Noto+Sans+TC:wght@500&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{   
        background-image: url("../images/Heroimage.JPG");
        background-size:cover;
        background-position: center center; 
        background-repeat: no-repeat; /* Do not repeat the image */
        height:100vh;
          
}

.header{
	
	 	height: 70px;
	 	font-family: sans-serif;

	 	display: flex;
	 	flex-wrap:wrap
	 	align-items: center;
        
}
.header-title{
    color:rgb(127, 106, 167);
      text-transform: uppercase;
    padding: 16px 40px;
    text-align: center;
    align-items: center;
}

.nav{
  
    align-items: center;
text-decoration:none;}

.nav ul{
    display: flex;
    justify-content: center;
    
}

.nav ul li{
    text-transform: uppercase;
    padding: 10px 20px;
    
    font-size: 20px;
    list-style-type: none;
   
    cursor: pointer;
}
/* unvisited link */
a:link {
    color:rgb(127, 106, 167);
    text-decoration:none;
}

/* visited link */
a:visited {
    color:rgb(127, 106, 167);
    text-decoration:none;
}
/*
.nav-list a{
    text-decoration:none;
    color:inherit;
   
    letter-spacing:4px;
    text-transform: uppercase;
}
.nav-list li{
    float :right;
   
      list-style-type: none;
      margin-right : 30px;
  
}
   

 /* Change the color of links on hover 
.nav-list a:hover {
       color: black;
  }
  
  /* Add an active class to highlight the current page 
.nav-list a.active {
    background-color: #04AA6D;
    color: white;
  }
  




