@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* padding and border are included in the width and height*/
}

:root {
  --color-text: #58595b;
  --color-primary: #475963;
  /*#a3bfd7;*/
  --color-secondary: white;
  --color-line: #efbb81;
  --color-background-primary: #e1ded7;
  --color-background-secondary: #475963;
  --color-active: #efbb81;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-text);

  font-family: 'Roboto', sans-serif;

  min-height: 100vh;
}


img {
  max-width: 100%;
}

/*header styling*/
h1,
h2,
h3,
h4 {
  text-align: center;
  margin: 0;

}

h1 {
  color: var(--color-secondary);

}

/*header styles*/
.main-head {
  text-transform: uppercase;

}

.sub-header {

  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
  font-family: 'lato', sans-serif;
  color: var(--color-line);

}


.background-header {
  background-color: var(--color-background-secondary);
  color: var(--color-secondary);
  text-decoration: none;
  padding: 2em;
  margin-bottom: 1em;
  border-bottom: 4px solid var(--color-line);
}

a {
  text-decoration: none
}



/* general styling*/
.background-section {
  font-family: 'lato', sans-serif;
  color: var(--color-primary);
  background: #e7ecf2;
  color: var(--color-primary);
  font-style: italic;
  padding: 10px 15px;
  position: relative;
  bottom: 8px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.titles {
  font-family: 'lato', sans-serif;
  color: var(--color-primary);
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.contactus-text {

  padding: 1em;

}

.cta-button-wrapper {
  display: block;
  text-align: center;
}

.cta-button {
  position: relative;
  left: 30em;
  bottom: 4em;
  border-radius: 1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--color-line);
  display: inline-block;
  font-size: 1em;
  padding: 1em 1em;
  width: auto;
  text-decoration: none;
}

.cta-button-contact {
  left: 0em;
  top: 0.5em;
}

.cta-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.cta-button-thearea {
  left: 0em;
  top: 0.2em;
}

.cta-button-barn {
  left: 25em;
  top: 10em;
}

.text-colour {
  color: var(--color-primary);
}




/*styling for hero image on home page */
.hero {
  background-image: url(../images/heroimage1.jpg);

  text-align: center;
  padding: 30vh 0;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  margin: 2.25rem;
}

/*Navigation styles*/
nav {

  padding: -3em;

}

.navbar {

  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}




.navbar .selected {
  font-weight: bold;
}

.navbar ul {
  /* change text to ,center, hortizonal and remove bullets*/
  display: flex;
  margin: 0;
  justify-content: center;
  text-align: center;
  list-style-type: none;
  padding: 20px 5px;
  margin-bottom: 30px;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.navbar a {
  /* added space between links and remove underline*/
  display: inline-block;
  padding: 0px 1.5em !important;
  text-decoration: none;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.navbar a:hover {
  border-top: 5px solid var(--color-line);
}

.navbar a:active {
  color: var(--color-primary);
}

/* unvisited link */
a:link {
  color: var(--color-text);
}

/* visited link */
a:visited {
  color: var(--color-text);
}

/* Footer */
footer {
  background-color: var(--color-background-secondary);
  color: var(--color-secondary);
  border-top: 4px solid var(--color-line);
  margin-top: 1em;
}

.ft-container {
  flex: 1;
}

.ft-main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.2em 0em;
  justify-content: center;
}

.ft-content {
  margin: 0 auto;
}

.ft-social {
  display: flex;
  justify-content: center;
}

.ft-content a {
  color: var(--color-secondary);
}

.ft-social li {
  margin-right: 2rem;
  font-size: 1.25rem;
  list-style-type: none;
  color: var(--color-secondary);

}

.ft-social li a {
  color: var(--color-secondary);
  font-size: 2em;
}

.ft-main li a i:hover {
  color: var(--color-line);
  transform: scale(1.5);
}

.ft-main li a i:active {
  color: var(--color-line);
  transform: scale(2);
}

/*The barn & the area Styling section */
.intro-text {
  max-width: 75%;
  text-align: justify;
  margin: 0 auto;
  padding-bottom: 2em;
}

.barn-hero {
  background-image: url(../images/church-barn.JPG);
  background-repeat: no-repeat;
  padding: 30vh 0;
  /*background-attachment: fixed;
  background-size: cover;*/
  background-position: center;
  /* margin: 2.25rem;*/
}

/* Explore the barn -styling*/
.barn-explore-title {
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
  color: var(--color-line);
}

.grid-wrapper-barnfeatures {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*change1fr 1fr 1fr 1fr;*/
  grid-template-rows: 1fr;
  gap: 2em;
  grid-template-areas:
    "barn-feature1 barn-feature2 barn-feature3 barn-feature4"
}

.background-feature-section {
  background: var(--color-primary);
  padding: 1em 1em;
  margin: 2em 20em;
}


.barn-feature-list {
  text-align: left;
  list-style-type: none;
  background: var(--color-secondary);
  padding: 1em;

}

/* for the barn Main section photos and text  */
.grid-wrapper-barn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 2em;
  padding-top: 2em;
  grid-template-areas:
    "lcontent1 rcontent1 lcontent2 "
    "rcontent2 lcontent3 rcontent3 "

}

.grid-images {

  text-align: center;
  height: 15em;
  width: 30em;
  margin: 0 auto;

}

.p a {
  text-decoration: none;
  list-style-type: none;
}

.grid-text {
  color: var(--color-text);
  font-style: normal;
}

/* for the area Main section photos and text  */
.iframecontainer {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 2em;
}

.iframecontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.videocontainer {
  position: relative;
  padding-bottom: 45%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 10%;

}

.videocontainer video,
.videocontainer object,
.videocontainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid-wrapper-thearea {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: 1fr 1fr;
  padding-top: 2em;
  gap: 1em;
  color: var(--color-primary);
  grid-template-areas:
    ". lcontent1 rcontent1 ."
    ". lcontent2 rcontent2 ."
}

.thearea-links>a {
  text-decoration: none;
}

.thearea-icons {
  font-size: 10rem;
  color: var(--color-primary);
}

/* Change the color of links on hover */
.thearea-links a:hover {
  background-color: var(--color-line);
  color: var(--color-background-secondary);

}

div.barn-feature1 {
  grid-area: barn-feature1;
}

div.barn-feature2 {
  grid-area: barn-feature2;
}

div.barn-feature3 {
  grid-area: barn-feature3;
}

div.barn-feature4 {
  grid-area: barn-feature4;
}

div.lcontent1 {
  grid-area: lcontent1;
}

div.rcontent1 {
  grid-area: rcontent1;
}

div.lcontent2 {
  grid-area: lcontent2;
}

div.rcontent2 {
  grid-area: rcontent2;
}

div.lcontent3 {
  grid-area: lcontent3;
}

div.rcontent3 {
  grid-area: rcontent3;
}

/* Style inputs, select elements and textareas */
input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color: var(--color-text);
  margin-bottom: 10px;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */

input[type=submit],
input[type=reset] {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--color-line);
  padding: 12px 20px;
  margin-right: 10px;
  margin-bottom: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  text-transform: uppercase;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;


}



/* Style the container */
.contact-wrapper {
  box-shadow: 0 0 20px var(--color-text);
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--color-background-secondary);
  color: var(--color-secondary);
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;


}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

input[type=reset]:hover {

  background-color: var(--color-secondary);
  color: var(--color-primary);
}

input[type=submit]:hover {

  background-color: var(--color-secondary);
  color: var(--color-primary);
}

/*Media Queries */
/* For medium screen sizes from 1600px wide and down */
@media only screen and (max-width: 1600px) {
  .background-feature-section {
    margin: 2em 6em;

  }
}

/*Media Queries */
/* For medium screen sizes from 1300px wide and down */

@media only screen and (max-width: 1300px) {
  .contact-wrapper {

    width: 60%;

  }
}

/*Media Queries */
/* For medium screen sizes from 1200px wide and down */

@media only screen and (max-width: 1200px) {
  .cta-button {
    left: 0em;
    bottom: 0em;
  }


  .background-section-dark {
    margin: 2em 5em;

  }

  .grid-wrapper-barnfeatures {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "barn-feature1 barn-feature2"
      "barn-feature3 barn-feature4"
  }

  .background-feature-section {
    margin: 2em 1em;

  }

  .grid-wrapper-barn {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "lcontent1 rcontent1"
      "lcontent2 rcontent2"
      "lcontent3 rcontent3"
  }

  .grid-wrapper-thearea {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "lcontent1 rcontent1"
      "lcontent2 rcontent2"
  }
}


@media only screen and (max-width: 900px) {
  .ft-main {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .ft-social li a {

    font-size: 1em;
  }

  .ft-content {
    padding-bottom: 15px;
  }

  .navbar a {
    padding: 0px 1em !important;
  }



  .grid-wrapper-barn {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "lcontent1"
      "rcontent1"
      "lcontent2"
      "rcontent2"
      "lcontent3"
      "rcontent3"
  }

  .grid-wrapper-thearea {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "lcontent1 rcontent1"
      "lcontent2 rcontent2"
  }

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  .contact-wrapper {

    width: 90%;

  }

  input[type=submit],
  input[type=reset] {
    width: auto;
    padding: 12px 20px;
    margin-right: 0px;

  }
}

@media only screen and (max-width: 640px) {
  .main-head {
    font-size: 0.75rem;
  }

  .background-section-dark {
    margin: 1em 1em;
  }

  .navbar a {
    padding: 0em 0.5em !important;
  }

  .grid-wrapper-barnfeatures {
    grid-template-columns: repeat(1, 1fr);

    grid-template-areas:
      "barn-feature1"
      "barn-feature2"
      "barn-feature3"
      "barn-feature4"
  }

  .grid-wrapper-thearea {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "lcontent1"
      "rcontent1"
      "lcontent2"
      "rcontent2"
  }


}

@media only screen and (max-width: 400px) {
  .grid-images {
    width: 20em;

  }

  .navbar {
    font-size: 70%;
  }
}